* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;  
     
    
}


header{
    text-align: center;
}

h1{
    font-size: 1.25rem;
    font-weight: 500;
    color: #f9f4d4;
}

header > p{
    font-size: 0.875rem;
    max-width: 350px;
    color: #8e8e8e;
}

.character-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px;
}

li{
    list-style: none;
}
input{
    padding: 15px;
    border-radius: 20px;
    font-size: 1.5rem;
    background-color: #262626;
    color: whitesmoke;
}
.character-card{
    padding: 20px;
    border: 2px wheat solid;
}
.character-card > img{
    width: 100;
    height: 100;
    border-radius: 20px;
    
}

.search{
    display: flex;
    justify-content: center;
}